img {
    width: 60px;
    height: 60px;
}

.playbutton{
    width: 40px;
    height: 40px;
}

.pausebutton{
    width: 40px;
    height: 40px;
}

.stopbutton{
    width: 40px;
    height: 40px;
}

ion-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  ion-thumbnail img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px; // Opcional para esquinas redondeadas
  }
  


  .footer-row {
    display: flex;
    align-items: center;
  }
  
  .footer-logo img {
    width: 100%;
    max-height: 50px; /* Ajusta según necesidad */
    object-fit: contain;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .radio-name {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .botones_radio {
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }
  
  .botones_radio ion-icon {
    font-size: 1.8em;
    cursor: pointer;
  }
  